
  <ion-toolbar style="padding-top: 3%;">
    <!-- <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()">
        <ion-icon name="arrow-back-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title>Login</ion-title> -->
    <div style="width: 100%;display: flex;flex-direction: row;">
      <ion-buttons slot="start" style="width: 33%;">
        <ion-button color="dark" (click)="goBack()">
          <ion-icon name="arrow-back-outline"></ion-icon>
        </ion-button>
      </ion-buttons>

      <div style="width: 33%; margin-top:15x ;">
        <ion-img src="../../assets/images/png/logo.png" style="width:70px; height:70px;margin: auto; margin-top: 40px;"></ion-img>
      </div>

    </div>
  </ion-toolbar>


<ion-content >
<div style="height: 95%; padding: 7%;padding-top: 15%; " >
  <!-- <h1 style="text-align: center; color:#4D7493;font-family: 'couture-bld'">LOGIN</h1> -->
    <ion-item style="margin-top: 5%;">
      <ion-label position="floating" class="lblInput" >Username/E-mail</ion-label>
      <ion-input color="warning" [(ngModel)]="user"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="lblInput" position="floating">Password</ion-label>
      <ion-input color="warning"  type="password" [(ngModel)]="password"></ion-input>
    </ion-item>
    <div class="ion-text-center" style="color: red;padding-top:10px;">{{errore}}</div>
    <br>

    <div style="height: 12%; position: relative;">
      <div style="border: solid 3px black;height: 100%; width: 50%; border-radius: 25px; position: absolute;left: 25%;">
        <button (click)="login()"  style="bottom: -15%; left: -10%;position: relative;" class="myBtn">LOGIN</button>
      </div>
    </div>
      <!-- <div style="text-align: center; height: 7%;">
        <button (click)="login()" class="myBtn">ACCEDI</button>
      </div> -->
      <div style="position: absolute; bottom: 3%; width: 100%;">
        <div style="font-size: 1.7em; position: relative; width: 80%;  font-family:'couture-bld'; left: 10%; color:#4D7493; font-weight: bold; ">ULTRALOOK</div>
      </div>
</div>
</ion-content>



