<ion-header>
  <ion-toolbar>
    <ion-title>login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
    <ion-label position="floating" >Username/E-mail</ion-label>
    <ion-input [(ngModel)]="user"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="password"></ion-input>
  </ion-item>
  <ion-label position="stacked">{{errore}}</ion-label>


  <ion-button color="primary" (click)="login()">Primary</ion-button>
</ion-content>
