<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Home</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-item>
    <ion-label>Filtra Categorie</ion-label>
    <ion-select ok-text="Seleziona" cancel-text="Annulla" multiple [(ngModel)]="selectedCategories" (ionChange)="caricaDomandePerCategorie()">
      <ion-select-option *ngFor="let item of categorie" value="{{item.idCategoria}}">{{item.nomeCategoria}}</ion-select-option>
    </ion-select>
  </ion-item>
  <app-question *ngFor="let item of domande" [domanda]="item"></app-question>
</ion-content>
