@font-face {
  font-family: 'couture-bld';
  src: url('../../FONT/FONT_TITOLI/couture-bld.ttf') format('truetype');;
}

@font-face {
  font-family: 'couture-bldit';
  src: url('../../FONT/FONT_TITOLI/couture-bldit.ttf') format('truetype');;
}

@font-face {
  font-family: 'DINPro-Regular';
  src: url('../../FONT/FONT_TESTI/DINPro-Regular.ttf') format('truetype');;
}

@font-face {
  font-family: 'DINPro-BoldItalic';
  src: url('../../FONT/FONT_TESTI/DINPro-BoldItalic.ttf') format('truetype');;
}


p{
  font-family:'DINPro-Regular';
}
