<ion-item (click)="openChat()">
  <ion-avatar slot="start">
    <ion-img [hidden]="!mostraAvatar" src="https://library.kissclipart.com/20180922/eve/kissclipart-icon-full-name-clipart-computer-icons-avatar-icon-f6cf26ff2213f36e.jpg"></ion-img>
    <ion-img [hidden]="mostraAvatar" (ionError)="mostraAvatar=true" src="http://localhost:1337/img/{{singleChat.idUtente}}.{{singleChat.foto}}"></ion-img>
  </ion-avatar>
  <ion-label>
    <ion-badge *ngIf="singleChat.numeroMessaggi!=0" style="float: right;" color="primary">{{singleChat.numeroMessaggi}}</ion-badge>
    <h3 [ngStyle]="(singleChat.letto=='F'&&singleChat.mittenteMessaggio==singleChat.idUtente)?{'font-weight':'bold','color':'#0275d8','font-family': 'couture-bldit'}:{'font-family': 'couture-bld'}">{{singleChat.username}}</h3>
    <p [ngStyle]="(singleChat.letto=='F'&&singleChat.mittenteMessaggio==singleChat.idUtente)?{'font-weight':'bold','color':'#0275d8','font-family': 'DINPro-BoldItalic'}:{'color': 'black', 'font-family': 'DINPro-Regular'}">{{singleChat.lastMex}}</p>

  </ion-label>
</ion-item>


