@font-face {
  font-family: 'couture-bld';
  src: url('../FONT/FONT_TITOLI/couture-bld.ttf') format('truetype');;
}

@font-face {
  font-family: 'DINPro-Medium';
  src: url('../FONT/FONT_TESTI/DINPro-Medium.ttf') format('truetype');;
}
