<ion-menu side="start" menu-id="first" content-id="main">
  <ion-header>
    <ion-toolbar translucent>
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-list>
     <!-- <ion-item (click)="apriRichieste()">
        <ion-icon name="mail" slot="start"></ion-icon>
        <ion-label>Richieste</ion-label>
      </ion-item>-->
      <ion-item (click)="apriRisposte()">
        <ion-icon name="paper-plane" slot="start"></ion-icon>
        <ion-label>Risposte</ion-label>
      </ion-item>
      <ion-item (click)="apriArchivioDomande()">
        <ion-icon name="archive" slot="start"></ion-icon>
        <ion-label>Archivio Domande</ion-label>
      </ion-item>
      <ion-item (click)="logout()">
        <ion-icon name="log-out-outline" slot="start"></ion-icon>
        <ion-label>Logout</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="openMenu()"><ion-icon name="menu-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>
      {{user.username}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div style="padding-top: 10%;padding-right: 10%;padding-left: 10%">
    <ion-router-outlet id="main"></ion-router-outlet>
    <div style="width: 100%">
    <ion-avatar style="margin-left: auto;margin-right: auto;display: block">
      <ion-img src="http://localhost:1337/img/{{user.idUtente}}.{{user.foto}}"></ion-img>
    </ion-avatar>
    </div>

    <ion-item lines="full">
      <ion-label class="ion-text-center">
        {{user.nome}} {{user.cognome}}
      </ion-label>
    </ion-item>
    <div class="ion-text-center ion-margin-top" >
    <ion-label style="width: 100%" class="ion-text-center">
      {{user.descrizione}}
    </ion-label>
    </div>

  </div>

  <div>
    <ion-card style="background-color:lightgray;color: white">
      <ion-card-content>
        <ion-button expand="block" color="light" (click)="inserisciDomanda()">Inserisci Domanda</ion-button>
      </ion-card-content>
    </ion-card>

    <app-myquestion *ngFor="let item of myQuestions" [myQuestion]="item"></app-myquestion>
  </div>


</ion-content>
