<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-button color="dark" (click)="goBack()"><ion-icon name="arrow-back-outline"></ion-icon></ion-button>
    </ion-buttons>
    <ion-title>Profilo</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>

      <ion-card-title class="ion-text-center">Profilo</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-label position="floating" >Username</ion-label>
      <ion-input [(ngModel)]="username"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Mail</ion-label>
      <ion-input [(ngModel)]="mail"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Descrizione</ion-label>
      <ion-textarea [(ngModel)]="descrizione"></ion-textarea>
    </ion-item>

    <div class="ion-text-center" style="color: red;padding-top:10px;">{{errore}}</div>

    <br>
    <section>
      <ion-button color="primary" (click)="saveInfo()" expand="block">Modifica informazioni</ion-button>
    </section>
    </ion-card>
  <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Posizione</ion-card-title>
      <div class="ion-text-center ion-margin-top">Aggiorna la posizone per trovare domande vicino a te</div>
    </ion-card-header>
    <section>
      <ion-button color="primary" (click)="updatePosition()" expand="block">Aggiorna Posizione</ion-button>
    </section>
  </ion-card>
  <ion-card>
      <ion-card-header>
        <ion-card-title class="ion-text-center">Foto</ion-card-title>
        <div class="ion-text-center ion-margin-top">Aggiorna la foto</div>
      </ion-card-header>
      <section class="ion-text-center">
        <ion-input type="file" (change)="onFileChanged($event)" #fileInput></ion-input><br/>
        <ion-button color="primary" (click)="changeFoto()" expand="block">Cambia Foto</ion-button>
      </section>
    <div class="ion-text-center" style="color: red;padding-top:10px;">{{erroreFoto}}</div>
    </ion-card>
    <ion-card>
    <ion-card-header>
      <ion-card-title class="ion-text-center">Password</ion-card-title>
    </ion-card-header>
    <ion-item>
      <ion-label position="floating">Vecchia Password</ion-label>
      <ion-input [(ngModel)]="oldPwd" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Nuova Password</ion-label>
      <ion-input [(ngModel)]="newPwd" type="password"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Conferma Password</ion-label>
      <ion-input [(ngModel)]="confirmPwd" type= "password"></ion-input>
    </ion-item>
    <div class="ion-text-center" style="color: red;padding-top:10px;">{{errorePassword}}</div>
    <br>
    <section>
      <ion-button color="primary" (click)="changePwd()" expand="block">Cambia Password</ion-button>
    </section>
  </ion-card>
</ion-content>
