<ion-content  style="height: 100%;">
  <h1 class="titolo" style="margin-top: 20%;">ULTRALOOK</h1>
  <ion-img src="../../assets/images/png/logo.png" style="width: 80%; height: 50%;margin: auto;"></ion-img>

  <div style="text-align: center; height: 30%;" >

    <div style="height: 27%; position: relative;">
      <div style="border: solid 3px black;height: 100%; width: 50%; border-radius: 25px; position: absolute;left: 25%;">
        <button (click)="login()"  style="bottom: -15%; left: -10%;position: relative;" class="myBtn">LOGIN</button>
      </div>
    </div>

    <div  style="height: 27%; position: relative;margin-top: 7%;">
      <div style="border: solid 3px black;height: 100%; width: 50%; border-radius: 25px; position: absolute;left: 25%;">
      <button (click)="signup()" style="background-color: #F2DC42;bottom: -15%; left: -10%;position: relative; " class="myBtn">SIGN UP</button>
    </div>
    </div>


  </div>
 </ion-content>

