<ion-content  style="height: 100%;">
  <h1 style="font-family: 'couture-bld'; text-align: center; color:#4D7493; margin-top: 20%; font-weight: bold;">ULTRALOOK</h1>
  <ion-img src="../../assets/images/png/logo.png" style="width: 80%; height: 50%;margin: auto;"></ion-img>

  <div style="text-align: center; height: 30%;" >

    <div class="box" style="height: 25%;">
      <button (click)="login()"   class="myBtn">ACCEDI</button>
    </div>


    <div class="box" style="height: 25%;">
      <button (click)="signup()" style="background-color: #F2DC42; margin-top: 7%;" class="myBtn">REGISTRATI</button>
    </div>


  </div>
 </ion-content>

