<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1" style="background-color: #4D7493;">
      <ion-img src="../../assets/images/png/ICONE DEF-05.png"></ion-img>
    </ion-tab-button>

    <ion-tab-button tab="tab2" style="background-color: #4D7493;">
      <ion-img src="../../assets/images/png/ICONE DEF-06.png"></ion-img>
    </ion-tab-button>

    <ion-tab-button tab="tab3" style="background-color: #4D7493;">
      <ion-img src="../../assets/images/png/ICONE DEF-07.png"></ion-img>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>