.bordo{
  border-radius:15%;position: absolute;border:2px solid black;width: calc(100% - 20px);height: 100%;left: 20px;top:-10px
}



.myBtn{
  background-color: #4D7493;
  font-family: 'couture-bld';
  font-size: small;
}
