.bordo{
  border-radius:15%;position: absolute;border:2px solid black;width: calc(100% - 20px);height: 100%;left: 20px;top:-10px
}

@font-face {
  font-family: 'couture-bld';
  src: url('../../../FONT/FONT_TITOLI/couture-bld.ttf') format('truetype');;
}

.myBtn{
  background-color: white;
  font-family: 'couture-bld';
  font-size: small;
}
