.bordo{
  border-radius:15%;position: absolute;border:2px solid black;width: calc(100% - 20px);height: 100%;left: 20px;top:-10px
}
 .divBottone{
  position: absolute;z-index: 20; bottom:-20px; width: 100%;display: flex;align-items: center;justify-content: center;
 }


@font-face {
  font-family: 'DINPro-Black';
  src: url('../FONT/FONT_TESTI/DINPro-Black.ttf') format('truetype');;
}

.myBtn{
  background-color: #4D7493;
  width: 50%;
  border-radius: 25px;
  color: white;
  height: 100%;
  font-family: 'DINPro-Black';
  font-size: small;
}

.rispondiButton{
width: 50%;
width: 50%;
border-radius	: 30px;
}

